h3 {
    color: #2d6187;
    font-weight: bold;
  }
  
  footer {
    text-align: center;
  }
  
  
  h4,
  p.current-time,
  p.description {
    font-weight: lighter;
    font-size: 20px;
  }
  p.description {
    margin-top: -13px;
  }
  
  div.container .card {
    background-color: #bfcfff;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #f1f6f9;
    border-radius: 20px;
  }

  h3,
  h4,
  p.current-time,
  #description {
    color: #2d6187;
  }
  
  div.left-column {
    text-align: left;
    padding-left: 40px;
    color: #f1f6f9;
  }
  
  div.card {
    padding: 15px;
    border: 1px solid #f1f6f9;
    border-radius: 10px;
  }
  
  img {
    width: 120px;
    height: auto;
    margin: 3px;
    padding: 3px;
  }

  
  .adverb {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    color: #2d6196;
  }
  
  #search-button {
    border-radius: 0 4px 4px 0;
  }
  
  #current-location-button {
    padding: 6px 6px;
  }
  
  #current-temperature {
    color: #f1f6f9;
    font-size: 50px;
    line-height: 45px;
  }
  
  #temperature-units {
    position: relative;
    top: -25px;
  }
  
  .main-temperature .active {
    color: black;
    cursor: default;
  }
  
  #celsius-link,
  #fahrenheit-link:hover {
    text-decoration: none;
  }

  h3.forecast-time {
    font-size: 4px;
  }
  